h1{
    color: lightseagreen;
}
h4{
    color: lightseagreen;
}
span{
    color:lightseagreen;
}
Table{
    color: darkgrey
}
p{
    color: gray;
}
li{
    color: grey;
}
body{
    background-color: whitesmoke;
}